1 * * * * if [ -d /data/db/backups ]; then mkdir -p /data/db/backups/`date '+%Y-%m-%d-%H00'`; else :; fi
10 * * * * mongodump -u admin -p admin  -o /data/db/backups/`date '+%Y-%m-%d-%H00'`
20 * * * * aws s3 sync /data/db/backups/`date '+%Y-%m-%d-%H00'` s3://proposal-tool-v2-db-$(echo ${environment})-$(echo ${platform})
